#blog {
    height: 100%;
    padding: 20px;
    overflow: auto;
    & > div {
        width: max-content;
        margin: 0 auto;
        max-width: 90%;
        .post {
            background-color: white;
            height: 300px;
            width: 300px;
            box-shadow: 0 0 1px;
            display: inline-block;
            margin: 5px;
        }
    }
}
