<div id="blog">
    <div>
        <div class="post">
            <div>
                img
            </div>
            <div>
                titlr
            </div>
        </div>
        <div class="post">
            <div>
                img
            </div>
            <div>
                titlr
            </div>
        </div>
        <div class="post">
            <div>
                img
            </div>
            <div>
                titlr
            </div>
        </div>
        <div class="post">
            <div>
                img
            </div>
            <div>
                titlr
            </div>
        </div>
        <div class="post">
            
        </div>
    </div>
</div>