<div id="install">
    <ul class="stepper">
        <li>
            <div>
                <h3>Step 1</h3>
                <div>
                    Download App from here.
                </div>
            </div>
        </li>
        <li>
            <div>
                <h3>Step 2</h3>
                <div>
                    sd
                </div>
            </div>
        </li>
        <li>
            <div>
                <h3>Step 3</h3>
                <div>
                    linces
                </div>
            </div>
        </li>
        <li>
            <div>
                <h3>Step 4</h3>
                <div>
                    Load App
                </div>
            </div>
        </li>
    </ul>
</div>