#install {
    height: 100%;
    padding: 20px;
    overflow: auto;
    ul.stepper {
        padding: 3.5rem;
        list-style: none;
        li {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 5px;
            margin: 10px 0;
            &::before {
                content: url("./../../../../assets/img/done.svg");
            }
            & > div {
                border-bottom: 1px solid #e3e0dc;
                div {
                    padding: 2px;
                }
            }
        }
    }
}
