<form [formGroup]="loginForm">
    <div class="formItem">
        <label for="">Username</label>
        <input type="text" formControlName="username" placeholder="Username">
    </div>
    <div class="formItem">
        <label for="">password</label>
        <input type="password" formControlName="password" placeholder="password" />
    </div>
</form>
<div class="divider">
    <hr>
    <h3>OR</h3>
    <hr>
</div>
<button class="button butSig">signIn using Google</button>
<div class="divider">
    <hr>
    <h3>OR</h3>
    <hr>
</div>
<button class="button butSig">signIn using facebook</button>