.divider {
    display: grid;
    margin: 14px 0;
    grid-template-columns: 1fr auto 1fr;
    hr {
        height: 1px;
        background: #8e8989;
        margin: 13px 8px 0 6px;
    }
}
.butSig {
    width: 100%;
}