#posts {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    nav {
        display: grid;
        grid-template-columns: auto 1fr;
        margin: 3px;
        box-shadow: 0 0 2px;
        input {
            border: none;
            outline: none;
            font-size: 16px;
            margin-left: 2px;
        }
    }
    .card {
        box-shadow: 0 0 3px;
        margin: 3px;
        border-radius: 2px;
        display: grid;
        grid-template-columns: auto 1fr;
    }
}
