dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    min-width: 100%;
    min-height: 100%;
    background: none;
    #body {
        box-shadow: 0 0 3px;
        border-radius: 5px;
        width: 500px;
        height: 500px;
        background-color: white;
        display: grid;
        grid-template-rows: auto 1fr auto;

        animation-name: scaleAimation;
        animation-duration: 0.5s;
        header {
            display: grid;
            grid-template-columns: 1fr auto;
            border-bottom: 1px solid #d5d1d1;
            svg {
                opacity: 0.6;
                &:hover {
                    opacity: 1;
                }
            }
            h2 {
                padding: 0 7px;
            }
        }
        section {
            overflow: auto;
        }
        footer {
            border-top: 1px solid #d5d1d1;
            padding: 5px;
        }
    }
    &::backdrop {
        background: rgba(0, 0, 0, 0.8);
    }
}

@keyframes scaleAimation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
